.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
}

#a {
  grid-column: 1 / -1;
}

#b {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#c {
  grid-column: 2 / span 2;
}

#d {
  grid-column: 3 / span 2; 
}
/* Write your styles above this line! 👆👆👆 */

.grid div {
  border: 1px solid rgb(12,71,162);
  border-radius: 3px;
  background-color: rgba(12,71,162,0.8);
  padding: 0.2rem;
  color: #fff;
}

.grid div:nth-of-type(2n) {
  background-color: rgba(12,71,162,0.6);
}
